.path{
	stroke-dasharray: 20;
	animation: dash 100s linear infinite;
  z-index: 1;
}
@keyframes dash{
	to{
		stroke-dashoffset:-100%;
	}
}
#shape:hover {
  stroke-dasharray: 50;
  animation: dash 40s linear infinite;
  stroke-width:8;
  stroke-linecap:none;
  fill: brown;
} 
.map{
	display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
	width: 900px;
	height: 689px;
	background: url(map.svg);
	background-size: 1000px 789px;
	margin: 0;
	padding: 0;
}.Layer_1 {
  background-image: url("Layer 1.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1000px;
  height: 500px;
  z-index: -1;
  position: absolute;
}
